import { useContext } from "react";

import { {{ context }}Context, {{ context }}ContextConfig } from "./{{ fileName }}.context";

export const use{{ context }} = (): {{ context }}ContextConfig => {
    const config = useContext({{ context }}Context);

    if (config === undefined) {
        throw new Error(
            "хук use{{ context }} должен использоваться внутри {{ context }}Context"
        );
    }

    return config;
};
