import { render } from "@testing-library/react";

import { {{component}} } from "./{{component}}";

describe("Tests for {{component}}", () => {
    let renderResult: RenderResult;

    beforeEach(() => {
        renderResult = renderForm();
    });

    afterEach(() => {
        jest.clearAllMocks();
    });

    it("{{component}} should be rendered", () => {
        // Arrange
        const { baseElement } = renderResult;

        // Act

        // Assert
        expect(baseElement).toBeTruthy();
    });
})



function render{{component}}(): RenderResult {
    return render(<{{component}} />);
}