import { FC } from "react";

import { {{ component }}Props } from "./{{ component }}.model";
import s from "./{{ component }}.module.scss";

export const {{ component }}: FC<{{ component }}Props> = ({}: {{ component }}Props) => {
    return <>{{ component }} works!</>;
};
