import { FC } from "react";

import { {{ component }}Props } from "./{{ fileName }}.model";
import s from "./{{ fileName }}.module.scss";

export const {{ component }}: FC<{{ component }}Props> = ({}: {{ component }}Props) => {
    return <>{{ component }} works!</>;
};
